<div class="block block-secondary" id="realtime">
  <div class="container text-xs-center">

    <div class="row mb-5 justify-content-center">
      <div class="col-10 col-sm-8 col-lg-6">
        <h6 class="text-muted text-uppercase mb-2">Realtime</h6>
        <h2 class="mb-4">Realtime fMRI with RT-Cloud</h2>
      </div>
    </div>
    <p class="lead"><a href="https://github.com/brainiak/rt-cloud">RT-Cloud</a> (<a href="https://rt-cloud.readthedocs.io">documentation</a>) is a BrainIAK companion project that supports running real-time fMRI experiments in the cloud or on a cluster. RT-Cloud has a processing pipeline for receiving and analyzing brain image volumes and providing real-time neurofeedback to subjects. The processing pipeline supports BrainIAK modules for real-time analysis.</p>

  </div>
</div>
